body
	background rgba(255,255,255,0.5)
header
	//background green
	margin 10em 0 0 0
	position relative
	width 100%
	figure
		//background yellow
		margin 0
		width 40%
		img
			width 100%
	#app
		//background blue
		margin 7em 0 0 0
		text-align center
		width 50%
		p
			//background orange
			margin 2.4em 1em
		a
			background green
			color white
			text-decoration none
			padding 1em 2.5em
			&:hover
				color black
				background orange
			
	#app, figure
		display inline-block
		vertical-align top


nav
	background rgba(255,255,255,0.9)
	position fixed
	top 0
	margin 1em 0 0 0
	width 100%
	ul
		margin 0
		text-align center
		li
			display inline-block
			height 1em
			a
				background green
				padding 1em 

#caracteristicas
	//background green
	width 100%
	text-align center
	position relative
	margin 0
	figure
		//background yellow
		margin 0
		width 40%
		position relative
		left 0%
		img
			width 100%

	#caracteristicas-descripcion
		//background red
		margin 3.4em 1em  
		width 40%
		#caracteristicas-ima
			//background blue
			position relative
			width 60%
			figure
				//background yellow
				left 40%
				img
					width 100%

	#caracteristicas-descripcion, figure
		display inline-block
		vertical-align top

#compra
	//background green
	color black
	text-align center
	width 100%	
	#app
		//7background red
		width 30%
		a
			text-decoration none
			color orange
	#basic
		//background blue
		width 30%
	#pro
		//background yellow
		width 30%
	#app,#basic,#pro
		margin 2em 0
		display inline-block
		vertical-align top	
#detalles
	//background red
	text-align center
	width 100%
	.detalles-item
		//background yellow
		display inline-block
		vertical-align top
		width 20%
		.detalles-ima
			margin 0
			width 100%
			img
				width 100%
			figcaption
				margin 0 0.5em
				width 100%
.contacto
	background #222
	position relative
	width 100%
	#mapa
		margin 0
		height 300px
		width 100%
.boton
	text-decoration none
	padding 1em 2em
	background green
	color white
	&:hover
		background orange
footer
	text-align right
	width 100%
	

