blanco = #eee
azul = #0477BF
header
	background orange
	color blanco
	height 700px
	position relative
	figure
		background blue
		margin 0
		position absolute
		height 100%
		width 100%
		img
			height 100%
			width 100%
	h1
		//background orange
		position relative
		top 10px
		left 50%
		width 50%
	p
		//background yellow
		position relative
		top 10px
		left 50%
		width 50%
	nav
		background transparent
		position relative
		top 0
		width 100%
		ul
			margin 0
footer
	background green
	width 100%
	#contact-left
		background red
		width 50%
	#contact-right
		background yellow
		width 40%
		#contact-information
			text-align center
			background blue
			vertical-align top
			width 10px
	#contact-right, #contact-left
		display inline-block
		vertical-align top


#clients
	//background green
	text-align center
	.clients-item
		display inline-block
		margin 0 1em
		vertical-align top
		width 10%

#portfolio
	//background green
	margin 2em 0
	text-align center
	.portfolio-item
		//background orange
		display inline-block
		vertical-align top
		width 20%
		figure
			margin 0
			width 100%
			img
				width 100%

#services
	//background green
	margin 1em 0
	text-align center
	position relative
	width 100%
	.services-item
		//background yellow
		display inline-block
		text-align center
		vertical-align top
		position relative
		width 15%
		figure
			margin 0
			position relative
			width 100%
			img
				border-radius 50%
				width 100%
			figcaption
				//background red
				width 100%
				h2
					//background orange
					color azul
					margin 0 0.2em
				h3
					color black
					margin 0.2em
					width 100%

#team
	//background green
	text-align center
	margin 7em 0
	.team-item
		display inline-block
		margin 0 0.3em
		vertical-align top
		width 15%
		figure
			margin 0
			width 100%
			img
				border-radius 50%
				width 100%
		h3
			color azul
			margin 0
		h4
			margin 0
			color black
			font-style italic
		p
			color black
			text-align left







